.container {
  background: #1E74FF40;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 30px auto 53px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: rgb(35, 33, 33);
  font-family: 'Arial', sans-serif;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.header-row,
.data-row {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.header-row {
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background: white;
  padding: 10px;
}

.data-cell,
.header-cell {
  flex: 1;
}

a {
  color: rgb(35, 33, 33);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.consultant-container {
  width: 100%;
  background-color: #e6f0ff;
  border-radius: 10px;
  overflow: hidden;
}

.consultant-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 12px 15px;
  background-color: #b1ceff;
  color: #1e74ff;
  text-align: left;
}

.consultant-table {
  width: 100%;
}

.header-row {
  display: flex;
  background-color: #b1ceff;
  font-weight: 600;
  padding: 10px 15px;
  color: #1e74ff;
}

.data-row {
  display: flex;
  border-bottom: 1px solid #d6e4ff;
  padding: 10px 15px;
}

.data-row:last-child {
  border-bottom: none;
}

.header-cell,
.data-cell {
  padding-right: 15px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-cell:first-child,
.data-cell:first-child {
  flex: 1;
}

.header-cell.view,
.data-cell.view {
  flex: 2;
}

.data-cell.view a {
  color: #1e74ff;
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.data-cell.view a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {

  .header-cell,
  .data-cell {
    padding: 5px;
    font-size: 13px;
  }
}

@media (max-width: 576px) {

  .header-cell.view,
  .data-cell.view {
    display: none;
  }

  .header-cell:first-child,
  .data-cell.name {
    flex: 3;
  }

  .header-cell.score,
  .data-cell.score {
    flex: 1;
  }

  .medal {
    font-size: 14px;
  }
}